body {
    font-family: 'Playfair Display', serif;

    margin: 0%;

}

h1 {
    font-size: 50px;
    color: ;

}

h2 {
    font-size: 5px;
}

.OrangeColor {
    color: orange;
}

section {
    display: flex;

}

.madaras-dream {
    margin-top: 50px;
}

.half-width {
    width: 80%;
    padding-left: 10%;

}

.half-width img {
    width: 50%;


}

.linkButton {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.top-banner {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.madaras-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flexible-container {

    display: flex;
    margin-bottom: 150px;
}

.history {


    margin-right: 5%;
    margin-left: 5%;

    border-radius: 10px;

    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid blue;

}

.history {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#id02 {
    border-left: pink;
}